meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:url", content="https://Errec.github.io/my-portfolio-2024")
meta(property="twitter:title", content="Raniro Coelho | Portfolio")
meta(property="twitter:description", content="Raniro Coelho's portfolio showcasing skills, experience, and projects.")
meta(property="twitter:image", content="")
// TODO: add img src content