meta(property="og:type", content="website")
meta(property="og:url", content="https://Errec.github.io/my-portfolio-2024")
meta(property="og:title", content="Raniro Coelho | Portfolio")
meta(property="og:description", content="Raniro Coelho's portfolio showcasing skills, experience, and projects.")
meta(property="og:image", content="")
// TODO: add img src content