doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        // Include meta tags for base URL, title, and description
        include meta/content.pug
        // Open Graph / Facebook
        include meta/SEO-og-facebook.pug
        // Twitter
        include meta/SEO-twitter-x.pug

        link(rel="stylesheet", href="styles/index.sass")

    body
        header.header
            include templates/header.pug
        main.main
            section.main-slogan
                include templates/main-slogan.pug
            section.main-hero
                include templates/main-hero.pug
            section.main-skills
                include templates/main-skills.pug
            section.main-projects
                include templates/main-projects.pug
            section.main-about#about
                include templates/main-about.pug
        footer.footer
            include templates/footer.pug
        
        script(type="module", defer, src="scripts/index.ts")
